.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 126px;
}
@media (max-width: 825px) {
  .Header {
    height: 100px;
  }
}
@media (max-width: 750px) {
  .Header {
    height: 80px;
  }
}
@media (max-width: 700px) {
  .Header {
    padding:0px 1rem;
    box-sizing: border-box;
  }
}
@media (max-width: 650px) {
  .Header {
    height: 60px;
  }
}

.LogoHeading {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 700px) {
  .LogoHeading {
    display: none;
  }
}
.mobileLogoImg {
  width: 100%;
}
@media (min-width: 700px) {
  .mobileLogoImg {
    display: none;
  }
}

@media (max-width: 350px) {
  .mobileLogoImg {
    width: 80%;
  }
}
.Logo {
  width: 201px;
  height: 39px;
  margin-left: 77px;
  /* object-fit: contain; */
}
@media (max-width: 825px) {
  .Logo {
    width: 175px;
    height: 30px;
    margin-left: 60px;
  }
}
@media (max-width: 750px) {
  .Logo {
    width: 150px;
    height: 25px;
    margin-left: 50px;
  }
}
@media (max-width: 650px) {
  .Logo {
    width: 130px;
    height: 18px;
    margin-left: 35px;
  }
}
@media (max-width: 600px) {
  .Logo {
    width: 130px;
    height: 18px;
    margin-left: 10px;
  }
}
.Heading {
  margin-left: 31px;
}
@media (max-width: 848px) {
  .Heading {
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  .Heading {
    font-size: 17px;
  }
}
@media (max-width: 650px) {
  .Heading {
    font-size: 15px;
  }
}
.mobileClass {
  height: 100%;
}
@media (max-width: 700px) {
  .mobileClass {
    display: none;
  }
}
